# Prerequisites
*.d

# Compiled files
*.slo
*.lo
*.o
*.obj
*.su

# Executables and libraries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# Build folders (important!)
build/
bin/
lib/
out/
.cmake/

# IDE and local configurations
.idea/
.vscode/
*.swp
*.kdev4

# Program output (we don't want to upload images to git)
*.ppm
*.png
*.wav